<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
    <div class="px-4 py-5 my-5 text-center">
        <div class="container">
            <h1>Help Ukraine to help the world / Допоможіть Україні, щоб допомогти Європі</h1>
            <br />
            <br />
            <h2>   Russia has declared war on Ukraine and is shamelessly shelling peaceful cities.</h2>
            <h2>   Росія оголосила Україні війну і підло обстрілює мирні міста.</h2>
            <br />
            <p>
                Help with humanitarian aid to those who are currently going to Ukraine.
            <br />
                Допоможи гуманітарною допомогою тим, хто зараз їде в Україну. 
            </p>
            <br />
        </div>
    </div>

    <div class="px-3">
        <div class="flex-md-row">
            <%= link_to t('.provide-aid'), aid_proposals_path, :class => "btn btn-outline-dark" %>
            <%= link_to t('.become-a-volonteer'), new_aid_proposal_path, :class => "btn btn-dark"%>
        </div>
    </div>
</div>
