<h1>Editing aid proposal</h1>

<%= render "form", aid_proposal: @aid_proposal %>

<br>

<div>
  <%= link_to "Show this aid proposal", @aid_proposal %> |
  <%= link_to "Back to aid proposals", aid_proposals_path %>
</div>
