<p style="color: green"><%= notice %></p>

<h1>Aid proposals / Шукаючі гуманітарну допомогу</h1>


<br>
<p>
  На даній сторінці показано список людей, які зараз збирають ресурси для відправки на Україну. Якщо у вас є можливість, будь ласка, зв'яжіться з людьми поряд з вами й допоможіть Україні!
</p>
<br>

<%# Rendered in react at aid_proposal.jsx. %>
<div class="row">
  <div class="col-auto">
    <div class="search-field-container" data-field="search_query" data-action="aid_proposals.json">
    </div>
  </div>
</div>
<br>

<div class="proposals-container" data-proposals="<%=@aid_proposals.to_json%>" data-user-email="<%=user_signed_in? ? current_user.email : '' %>">
</div>

<%= link_to "Стати волонтером", new_aid_proposal_path, class: "btn btn-info" %>


