<h1>Стати волонтером</h1>

<div>
<p>
  Hello!<br>
  If are planning to provide humanitarian aid to Ukraine and would like for other people to help you out, you can fill out the form below and your data will appear on the main page for all the people to see.
</p>
<p>
  Привіт!<br> 
  Якщо ти плануєш надати гуманітарну допомогу Україні і хотів би, щоб інші люди тобі допомогли, ти можеш заповнити форму нижче і твої дані з'являться на головній сторінці в загальному доступі. 
</p>
</div>
<%= render "form", aid_proposal: @aid_proposal %>

<br>

<div>
  <%= link_to "Back to aid proposals", aid_proposals_path %>
</div>
