<p style="color: green"><%= notice %></p>

<%= render @aid_proposal %>

<div class="row">
  <div class="col-6">
    <%= link_to "Edit / Редагувати", edit_aid_proposal_path(@aid_proposal), class: "btn btn-info" %>
  </div>
  <div class="col-6">
    <%= button_to "Remove proposal / Видалити заявку", @aid_proposal, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
